.Ticket {
  margin-bottom: 20px;
}

.header {
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
  color: white;
}

.price_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.price{
  font: var(--font-xl);
}
.price::after {
  content:" \20BD"
}
.price_text{
  font: var(--font-s);
}

.segment_line{
  background: var(--primary-color);
  width: 100%;
  height: 2px;
}

.btn{
  width: 100%;
  background: var(--secondary-color);
  border: none;
  color: white;
 height: 40px;
  cursor: pointer;

}
.btn:hover{
  background: rgb(206, 137, 83);
}
