.segment {
  padding: 0 20px 0 20px;
}
.segment_route{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.route_line{
  border-top: 1px solid #e5e5e5;
  width: 100%;
}
.segment_time{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0 0 0;
}

.origin{
  display: flex;
}
.time{
  font: var(--font-xl)
}

.date{
  color: var(--primary-color);
  margin: 0 10px;
}

.destination{
  display: flex;
}

.transfers_wrap{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.transfers_line{
  width: 35%;
  height: 1px;
  background: #a2a2a2;
}

.transfers{
  color: var(--secondary-color);
  margin: 0 10px;
}

.segment_carrier{
  margin: 0 0 5px 0;
}
